<section class="text-gray-600 body-font">
  <h1
    class="text-center mt-4"
    style="
      color: rgba(0, 0, 0, 0.276);
      letter-spacing: 1px;
      margin-bottom: -50px;
    "
  >
    MOST SELLING PRODUCTS
  </h1>
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img
            alt="ecommerce"
            class="object-cover object-center w-full h-full block"
            src="https://plus.unsplash.com/premium_photo-1683121134128-1867b48e9be5?q=80&w=1888&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          />
        </a>
        <div class="mt-4">
          <h4 class="text-gray-500 text-xs tracking-widest title-font mb-1">
            CLOTHING
          </h4>
          <h3 class="text-gray-900 title-font text-lg font-medium">
            ₹ 3999.00
          </h3>
          <button
            class="rounded-lg px-4 bg-green-200 py-2 border-2 border-green-300 hover:bg-green-400 hover:text-green-100 duration-300"
          >
            Add to Cart
          </button>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img
            alt="ecommerce"
            class="object-cover object-center w-full h-full block"
            src="https://images.unsplash.com/photo-1574177556859-1362f72ed6f9?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          />
        </a>
        <div class="mt-4">
          <h4 class="text-gray-500 text-xs tracking-widest title-font mb-1">
            CLOTHING
          </h4>
          <h3 class="text-gray-900 title-font text-lg font-medium">
            ₹ 2999.00
          </h3>
          <button
            class="rounded-lg px-4 bg-green-200 py-2 border-2 border-green-300 hover:bg-green-400 hover:text-green-100 duration-300"
          >
            Add to Cart
          </button>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img
            alt="ecommerce"
            class="object-cover object-center w-full h-full block"
            src="https://images.unsplash.com/photo-1491637639811-60e2756cc1c7?q=80&w=1928&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          />
        </a>
        <div class="mt-4">
          <h4 class="text-gray-500 text-xs tracking-widest title-font mb-1">
            BAGS
          </h4>
          <h3 class="text-gray-900 title-font text-lg font-medium">
            ₹ 3239.00
          </h3>
          <button
            class="rounded-lg px-4 bg-green-200 py-2 border-2 border-green-300 hover:bg-green-400 hover:text-green-100 duration-300"
          >
            Add to Cart
          </button>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img
            alt="ecommerce"
            class="object-cover object-center w-full h-full block"
            src="https://images.unsplash.com/photo-1505308144658-03c69861061a?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          />
        </a>
        <div class="mt-4">
          <h4 class="text-gray-500 text-xs tracking-widest title-font mb-1">
            BAGS
          </h4>
          <h3 class="text-gray-900 title-font text-lg font-medium">
            ₹ 5699.00
          </h3>
          <button
            class="rounded-lg px-4 bg-green-200 py-2 border-2 border-green-300 hover:bg-green-400 hover:text-green-100 duration-300"
          >
            Add to Cart
          </button>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img
            alt="ecommerce"
            class="object-cover object-center w-full h-full block"
            src="https://images.unsplash.com/photo-1531938716357-224c16b5ace3?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          />
        </a>
        <div class="mt-4">
          <h4 class="text-gray-500 text-xs tracking-widest title-font mb-1">
            BAGS
          </h4>
          <h3 class="text-gray-900 title-font text-lg font-medium">
            ₹ 2959.00
          </h3>
          <button
            class="rounded-lg px-4 bg-green-200 py-2 border-2 border-green-300 hover:bg-green-400 hover:text-green-100 duration-300"
          >
            Add to Cart
          </button>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img
            alt="ecommerce"
            class="object-cover object-center w-full h-full block"
            src="https://images.unsplash.com/photo-1526945870720-88be78ede6e7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fHRyYXZlbGVyfGVufDB8fDB8fHww"
          />
        </a>
        <div class="mt-4">
          <h4 class="text-gray-500 text-xs tracking-widest title-font mb-1">
            CLOTHING
          </h4>
          <h3 class="text-gray-900 title-font text-lg font-medium">
            ₹ 4599.00
          </h3>
          <button
            class="rounded-lg px-4 bg-green-200 py-2 border-2 border-green-300 hover:bg-green-400 hover:text-green-100 duration-300"
          >
            Add to Cart
          </button>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img
            alt="ecommerce"
            class="object-cover object-center w-full h-full block"
            src="https://images.unsplash.com/photo-1523170335258-f5ed11844a49?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          />
        </a>
        <div class="mt-4">
          <h4 class="text-gray-500 text-xs tracking-widest title-font mb-1">
            Accessories
          </h4>
          <h3 class="text-gray-900 title-font text-lg font-medium">
            N ₹ 13999.00
          </h3>
          <button
            class="rounded-lg px-4 bg-green-200 py-2 border-2 border-green-300 hover:bg-green-400 hover:text-green-100 duration-300"
          >
            Add to Cart
          </button>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img
            alt="ecommerce"
            class="object-cover object-center w-full h-full block"
            src="https://images.unsplash.com/photo-1542291026-7eec264c27ff?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          />
        </a>
        <div class="mt-4">
          <h4 class="text-gray-500 text-xs tracking-widest title-font mb-1">
            SHOES
          </h4>
          <h3 class="text-gray-900 title-font text-lg font-medium">
            ₹ 3599.00
          </h3>
          <button
            class="rounded-lg px-4 bg-green-200 py-2 border-2 border-green-300 hover:bg-green-400 hover:text-green-100 duration-300"
          >
            Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
