/* You can add global styles to this file, and also import other style files */
@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";
* {
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  -o-object-fit: cover;

  object-position: center;
}
