<!--galley start-->
<section
  id="gallery"
  class="gallery"
  style="padding-top: 5%; margin-top: -9%; padding-bottom: 5%"
>
  <div class="container">
    <div class="gallery-details">
      <div class="gallary-header text-center mx-5">
        <h2
          class="text-uppercase"
          style="color: rgba(0, 0, 0, 0.418); letter-spacing: 3.5px"
        >
          Trending Collection
        </h2>
        <p style="letter-spacing: 1.5px">
          Style that speaks volumes. 💫 #FashionForward #DressToImpress
        </p>
      </div>
      <!--/.gallery-header-->
      <div class="gallery-box">
        <div class="gallery-content">
          <div class="filtr-container">
            <div class="row">
              <div class="col-md-6">
                <div class="filtr-item">
                  <img
                    src="https://images.unsplash.com/photo-1613040809024-b4ef7ba99bc3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="portfolio image"
                  />
                  <div class="item-title">
                    <a href="#" style="text-decoration: none">
                      <h1>Accessories</h1>
                    </a>
                  </div>
                  <!-- /.item-title -->
                </div>
                <!-- /.filtr-item -->
              </div>
              <!-- /.col -->

              <div class="col-md-6">
                <div class="filtr-item">
                  <img
                    src="https://images.unsplash.com/photo-1461896836934-ffe607ba8211?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="portfolio image"
                  />
                  <div class="item-title">
                    <a href="#" style="text-decoration: none">
                      <h1>Sportswear</h1>
                    </a>
                  </div>
                  <!-- /.item-title-->
                </div>
                <!-- /.filtr-item -->
              </div>
              <!-- /.col -->

              <div class="col-md-4">
                <div class="filtr-item">
                  <img
                    src="https://images.unsplash.com/photo-1525966222134-fcfa99b8ae77?q=80&w=1898&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="portfolio image"
                  />
                  <div class="item-title">
                    <a href="#" style="text-decoration: none">
                      <h1>Shoes Collections</h1>
                    </a>
                  </div>
                  <!-- /.item-title -->
                </div>
                <!-- /.filtr-item -->
              </div>
              <!-- /.col -->

              <div class="col-md-4">
                <div class="filtr-item">
                  <img
                    src="https://images.unsplash.com/photo-1611353229530-f17036b8479a?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="portfolio image"
                  />
                  <div class="item-title">
                    <a href="#" style="text-decoration: none">
                      <h1>Watches Collections</h1>
                    </a>
                  </div>
                  <!-- /.item-title-->
                </div>
                <!-- /.filtr-item -->
              </div>
              <!-- /.col -->

              <div class="col-md-4">
                <div class="filtr-item">
                  <img
                    src="https://plus.unsplash.com/premium_photo-1682535209719-839f625f8770?q=80&w=1892&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="portfolio image"
                  />
                  <div class="item-title">
                    <a href="#" style="text-decoration: none">
                      <h1>Summer Collection</h1>
                    </a>
                  </div>
                  <!-- /.item-title-->
                </div>
                <!-- /.filtr-item -->
              </div>
              <!-- /.col -->

              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.filtr-container-->
        </div>
        <!-- /.gallery-content -->
      </div>
      <!--/.galley-box-->
    </div>
    <!--/.gallery-details-->
  </div>
  <!--/.container-->
</section>
<!--/.gallery-->
<!--gallery end-->
